body {
    background-color: azure;
}

.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #78909c;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    h6 {
        margin: 20px 0;
        color: white;
    }

    button {
        height: 30px;
    }
}

.info-card {
    background-color: $secondary;

    .text-h6 {
        color: white;
        font-size: 16px;
    }

    button {
        color: white;

        &::before {
            box-shadow: none;
        }
    }
}

// table
.q-table {
    thead {
        background-color: $secondary;
        color: white;



        th {
            text-align: center;
            border-left: 1px solid white;
        }
    }

    tbody {
        tr {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;

            &:nth-of-type(even) {
                background-color: #f8f9fa;
            }
        }

        td {
            text-align: center;
        }


    }


}

.q-table__container {
    div {
        &:last-child {
            color: white;
            background-color: #78909c;

            i {
                color: white;
            }
        }

    }
}

// icon
.edit-icon {
    i {
        color: $warning;
    }
}

.delete-icon {
    i {
        color: $negative;
    }
}