<script setup lang="ts">
import { computed, onMounted, reactive, ref, watchEffect } from 'vue';
import { addProduct, putProduct, selectTypeProduct } from '../utils/index';
import { useQuasar } from 'quasar'

// consts

const $q = useQuasar()

const emits = defineEmits<{
    (e: "update:list"): void;
    (e: 'closeAlert'): void;
}>();

const props: any = withDefaults(
    defineProps<{
        alert: boolean,
        selectElement: any
    }>(), {
    alert: false,
    selectElement: null,
}
)

const formData = reactive({
    product_type_id: null,
    name_uz: null,
    cost: null,
    address: null,
    created_date: new Date(),
})

const datas: any = ref<{
    id: number,
    name_uz: null,
    name_uk: null,
    name_ru: null,
    description: null
}[]>([])

const computedAlert = computed({
    get() {
        return props.alert
    },
    set() {
        emits('closeAlert')
    }
})

// hooks

onMounted(async () => {
    const res = await selectTypeProduct();
    datas.value = res
});

watchEffect(() => {
    if (props.selectElement) {
        Object.assign(formData, props.selectElement);
    }
});

// async functions

async function addInformation() {
    let datas: any = reactive({
        ...formData,
        product_type_id: 1
    })
    try {
        if (props.selectElement) {
            await putProduct(datas)
        } else {
            await addProduct(datas)
        }
        $q.notify({
            message: `Muvaffaqiyatli ${props.selectElement ? "o'zgartirildi" : "yaratildi"} `,
            color: 'green-14'
        })
        emits("update:list");
        closeModal()
    } catch (error) {
        $q.notify({
            message: `${error}`,
            color: 'deep-orange-9'
        })
    }
};

// functions

function closeModal() {
    formData.address = null;
    formData.name_uz = null;
    formData.cost = null;
    formData.product_type_id = null
}
</script>

<template>
    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="computedAlert">
            <q-card>
                <q-card-section class="d-flex justify-content-between info-card">
                    <div class="text-h6">{{ !props.selectElement ? "Qo'shish" : "O'zgartirish" }} </div>
                    <q-btn icon="close" @click="closeModal()" v-close-popup></q-btn>
                </q-card-section>
                <div class="q-pa-md" style="width: 500px">
                    <div class="q-gutter-md">
                        <q-select v-model="formData.product_type_id" clearable :options="datas" label="Mahsulot turi"
                            option-value="id" option-label="name_uz" emit-value map-options />
                        <q-input v-model="formData.name_uz" clearable label="Nomi" />
                        <q-input v-model="formData.cost" clearable step="any" type="number" label="Narxi" />
                        <q-input v-model="formData.address" clearable label="Manzill" />
                    </div>
                </div>
                <q-card-actions style="padding-right: 15px;" align="right">
                    <q-btn push :label="`${!props.selectElement ? 'Qo\'shish' : 'O\'zgartirish'}`" v-close-popup
                        :color="`${!props.selectElement ? 'green' : 'yellow-10'}`"
                        :disabled="!formData.product_type_id || !formData.name_uz || !formData.cost || !formData.address"
                        @click="addInformation()" />
                </q-card-actions>
            </q-card>
        </q-dialog>
    </div>
</template>
<style lang="scss"></style>