<script setup lang="ts">
import { reactive, ref } from 'vue';
import { getProduct, deleteProduct } from "../utils/index";
import ModalInformation from './ModalInformation.vue';
import { useQuasar } from 'quasar'

// consts
const $q = useQuasar()
const alert = ref(false);
const element = ref(null)
const apiData = ref<{
  id: number | null,
  product_type_id: string | null,
  name_uz: string,
  cost: string | number | null,
  address: string,
  created_date: string,
}[]>([])

const apiParams: any = reactive({
  page: 1,
  perPage: 10
})

const columns: any = [
  { name: 'Id', label: '#', field: 'id', },
  { name: 'Product type id', label: 'Mahsulot id', field: 'product_type_id', },
  { name: 'name_uz', label: 'Nomi', field: 'name_uz', },
  { name: 'cost', label: 'Narxi', field: 'cost', },
  { name: 'address', label: 'Manzil', field: 'address', },
  { name: 'created_date', label: 'Yaratilgan vaqti', field: 'created_date', },
  { name: 'actions', label: 'Amallar' },
]

await fetchList()

// functions

async function fetchList() {
  const res = await getProduct(apiParams);
  apiData.value = res;
}

async function onDelete(params: any) {
  try {
    await deleteProduct(params)
    $q.notify({
      message: `Muvaffaqiyatli o'chirildi `,
      color: 'red-3'
    })
  } catch (error) {
    console.log(error);
  } finally {
    await fetchList()
  }
}

function getByElement(el: any) {
  alert.value = true
  element.value = el
}
</script>

<template>
  <div id="q-app" style="min-height: 100vh;">
    <div class="q-pa-md">
      <div class="top-info">
        <h6>Ma'lumotlar ro'yxati
        </h6>
        <q-btn label="Ma'lumot qo'shish" icon="style" color="orange-7" @click="alert = true"></q-btn>
      </div>
      <q-table :rows="apiData" :columns="columns" row-key="name">

        <template v-slot:body-cell-actions="rows">
          <q-td>
            <q-btn icon="mode_edit" class="edit-icon" @click="getByElement(rows.row)">
              <q-tooltip class="bg-yellow-10" :offset="[10, 10]">
                This is Edit
              </q-tooltip>
            </q-btn>
            <q-btn icon="delete" class="delete-icon" @click="onDelete(rows?.row?.id)">
              <q-tooltip class="bg-red" :offset="[10, 10]">
                This is Delete
              </q-tooltip>
            </q-btn>
          </q-td>
        </template>
      </q-table>
    </div>
    <ModalInformation :alert="alert" :selectElement="element" @update:list="fetchList" @close-alert="alert = false" />
  </div>
</template>

<style lang="scss"></style>