<script setup lang="ts">
import MyComponent from './components/MyComponent.vue';
</script>

<template>
  <Suspense>
    <!-- main content -->
    <MyComponent />

    <!-- loading state -->
    <template #fallback>
      <div>Loading...</div>
    </template>
  </Suspense>
</template>
